<div class="experience">
  <a name="experience"></a>
  <h2 class="section-title">Experience</h2>
  <div class="timeline">

    <div class="timeline-event">
      <div class="timeline-event-icon ">
        <div class="icon">⚙️</div>
        <div class="timeline-event-header">
          <p class="work-title">Fellow @ Major League Hacking</p>
          <p class="work-date">Jun '21 - Present</p>
        </div>
      </div>
      <div class="timeline-event-content ">
        <div class="timeline-event-tools">
          Flask, Python, Linux, Shell
        </div>
        <div class="timeline-event-description">
          <p>As a fellow in the Production Engineering Track powered by Facebook, I'm getting hands-on experience of what it's like to work in Production/Site Reliability Engineering and DevOps. We're experimenting with bash scripting, learning how to deploy websites securely, and attending talks/workshops from industry professionals along the way.</p>
        </div>
      </div>
    </div>

    <div class="timeline-event">
      <div class="timeline-event-icon">
        <div class="icon">🗣️</div>
        <div class="timeline-event-header">
          <p class="work-title">Marketing Assistant @ MB Government </p>
          <p class="work-date">Jul '20 - Oct '20</p>
        </div>
      </div>
      <div class="timeline-event-content">
        <div class="timeline-event-tools">
           Microsoft Excel, SharePoint
        </div>
        <div class="timeline-event-description">
          <p>During my time as marketing assistant I worked on updating the Food and Ingredient Product Directory, a huge database of Manitoba food product and ingredient companies aimed at encouraging businesses to source their ingredients locally. I conducted outreach with over 300 companies via phone call and email in order to update their profiles in our SharePoint database and Excel spreadsheet while working without supervision.</p>
        </div>
      </div>
    </div>

    <div class="timeline-event">
      <div class="timeline-event-icon ">
        <div class="icon">💻</div>
        <div class="timeline-event-header">
          <p class="work-title">Student @ Google CSSI</p>
          <p class="work-date">Jul '20</p>
        </div>
      </div>
      <div class="timeline-event-content ">
        <div class="timeline-event-tools">
          HTML, CSS, JavaScript, p5.js
        </div>
        <div class="timeline-event-description">
          <p>As a participant in this intense summer program, I developed various web-based projects while receiving mentorship from Google engineers. At the end of the program, I collaborated with one teammate to create a Donkey Kong style arcade game which we then presented to an audience of peers, Googlers, and the public.</p>
        </div>
      </div>
    </div>

  </div>
</div>