<div class="landing">
  <a name="about"></a>
  <div class="about-container">
    <div class="about-details">
      <h1 class="full-name">Ariana Rice</h1>
      <h3 class="professional-title">Computer Science Student</h3>
      <button
        class="main-button"
        onclick="window.location.href='mailto:a_rice@live.ca'"
      >
        Contact Me!
    </button>
    </div>
    <div class="profile-image">
      <img src="./static/img/profile_pic2.png" width=250 height=250>
    </div>
  </div>
</div>
