<header class="nav-bar">
  <div class="nav-content">
    <a href="https://twitter.com/arrianarice"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/twitter.png" class="icon"></a>
    <a href="https://github.com/ariceeee"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/github.png" class="icon"></a>
    <a href="https://www.linkedin.com/in/ariana-rice/"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/linkedin.png" class="icon"></a>
    <a href="mailto:a_rice@live.ca"><img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/40px/mail.png" class="icon"></a>

    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="login">Account</a></li>
        </ul>
    </nav>
  </div>
</header>
